<%- include('../partials/header') %> 
<h1>Add New Product</h1>
<form action="/products" method="POST">
    <section>
        <label for="name">Product Name</label>
        <br>
        <input type="text" id="name" name="name">
    </section>
    <section>
        <label for="price">Price (Unit)</label>
        <br>
        <input type="number" id="price" name="price" step="0.01">
    </section>
    <section>
        <label for="category">Category</label>
        <br>
        <select name="category" id="category">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
        </select>
        <button type="submit">Create</button>
    </section>
</form>
<a href="/products">back to products</a>
<%- include('../partials/footer') %> 